			body {
			background-color: #000000;
			zoom: 100%;
			font-family: "Consolas", bold;
			}
			
			h1 {
			text-align: center;
			background-color: #000000;
			color: white;
			}
				
			h2 {
			text-align: center;
			padding: 10px;
			background-color: #000000;
			color: white;
			}

			footer {
			text-align: center;
			background-color: #000000;
			color: white;
			}
			
			gistContainer {
			width: 90%;
			margin: 0 auto;
			text-align: center;
			}
		
